[submodule "third_party/freecores/jtag"]
	path = third_party/freecores/jtag
	url = git@github.com:freecores/jtag.git
[submodule "third_party/apb"]
	path = third_party/apb
	url = https://github.com/iammituraj/apb.git
[submodule "third_party/Cores-VeeR-EH2"]
	path = third_party/Cores-VeeR-EH2
	url = https://github.com/chipsalliance/Cores-VeeR-EH2.git
